/* styles/globals.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* 모바일 웹 영역 바깥의 배경색 */
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  max-width: 353px; /* 모바일 기준 width */
  background-color: #ffffff; /* 모바일 웹 영역의 배경색 */
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과로 구분을 더 명확히 */
}
